.select {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 170px;
  right: 50px;
}

.label {
  position: absolute;
  width: 100px;
  top: 50px;
  right: 50px;
  color: white;
}

.buttonDiv {
  position: absolute;
  top: 240px;
  right: 50px;
}

.button {
  background-color: #06e1ba;
  border: 0;
  color: #250e48;
  font-size: 16px;
  font-weight: 700;
  border-radius: 60px;
  height: 50px;
  width: 100px;
}

.button:hover {
  background-color: #74ead5;
  cursor: pointer;
}

.button-pull {
  display: block;
  margin-top: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .select {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
  }

  .label {
    top: auto;
    right: auto;
    margin-top: 10px;
  }

  .buttonDiv {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    width: max-content;
  }

  .button {
    margin: 10px 0;
  }
}
