.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.label {
  text-align: center;
}

.select {
  width: 100px;
  height: 30px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  height: 50px;
  width: 100px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 60px;
  color: #250e48;
  background-color: #06e1ba;
}

.button:hover {
  background-color: #74ead5;
  cursor: pointer;
}

.button-pull {
  margin-top: 20px;
}
